.movieReviews {
    margin-top: 20px;
    color: black;
    text-decoration: none;
}

.reviewItem {
    margin-bottom: 10px;
}

.author {
    font-size: 18px;
    font-weight: bold;
}

.content {
    font-size: 14px;
    line-height: 1.5;
}